
  
     div{
        display: flex;
        justify-content: center;
        flex-direction: column;

     }
     main{
      width: 200px;
      height: 100px;
     }
     h1{
      width: auto;
      height: 100px;
     }

     .CarouselCaption img{
      display: flex;
      flex-direction: column;
      justify-content: center;
     }

     button{
       height: 10px important;
       width: 10px important;
     }
     .card-img-top{
      width: 18px;
      height: 20px;
     }
     
     
   