*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  background-color:rgba(17, 221, 201, 0.484);
     }
  
     div{
        display: flex;
        justify-content: center;
        flex-direction: column;

     }