
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  background-color:rgba(17, 221, 201, 0.484);
     }
  


#cities{
    display: flex;
    background-color: rgb(30, 91, 148);
    flex-grow: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100%;
    }
    
    #search{
    
        background-color:black;
    }
    aside{
        display:flex;
        flex-wrap: wrap;
        gap: 15px;
        width: 100%;
        font-size: x-small;
        margin-top: 2rem;
        justify-content: center;
        margin-bottom: 1rem;
      
    }