@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
background-color:rgba(17, 221, 201, 0.484);
   }

nav{
display: flex;

justify-content: space-between;

}
 img{
  min-width: 70vh;
 }

main{
 
    display: flex;
    flex-direction: row;

    }


    
    footer{
      display: flexbox;
    
    }
.map{
  display: flex;
  flex-direction: row;
}

.caro{
  display: flex;
  justify-content: center;
  align-items: center;
}

.caro img{
  width: 100px;
  height: 150px;
}

.form{ 
  width: 200px;
  height: 40px;
  border-color: azure;
  background-color: aliceblue;
  display: flex;
  align-content: end;
}